.body{
  background-color: #606060;
}

.App {
  background-color: #606060;
  font-family: "Montserrat";
  letter-spacing: 0.2px;
}


.cv {
  margin: 0 auto;
  max-width: 37rem;
  background-color: #fcf9ef;
  display: flex;
}

.left-section{
  background-color: #484f5f;
  flex-grow: 1;
  max-width: 15rem;
  color: #ffe7d4;
}

.right-section{
  flex-grow: 2.5;
  color: #494e5f;
  max-width: 22rem;
}

.left-section-container{
  margin: 1rem;
}

/*LEFT SECTION*/
/*############################################################*/

.photo{
  max-width: 11rem;
  margin-left: -0.5rem;
  overflow: hidden;
}

.photo img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;

}

.name{
  font-size: 1.3rem;
  font-weight: bold;
}

.title{
  font-size: 0.74rem;
  font-weight: lighter;
  margin: 0.7rem 0;
}

/* Thick border */
hr.separating-line {
  border: 1px solid #ffe7d4;
}

.left-section-title{
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1.3rem 0 0.5rem 0;
}

.about-me{
  font-size: 0.62rem;
}

.skill-container{

}

.skill{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-name{
  font-size: 0.62rem;
}

.skill-bar {
  width: 7.2rem;
  background-color: #40b8d5;
  border-radius: 20px;
  height: 0.5rem;
}

/* INDIVIDUAL BAR'S STYLING, SAME GOES WITH OTHER BARS */

.bar {
  width: 20%;
  background-color: #6ce5e8;
  color: #fff;
  border-radius: 20px;
  height: 0.5rem;
}

.bar-1{
  width: 96%;
}

.bar-2{
  width: 90%;
}

.bar-3{
  width: 75%;
}

.bar-4{
  width: 75%;
}

.bar-5{
  width: 54%;
}

.bar-6{
  width: 45%;
}

.spoken-language{
  font-size: 0.67rem;
  margin: 0.3rem 0;
}

.contact-line{
  font-size: 0.56rem;
  margin: 0.2rem 0;
}

/*RIGHT SIDE*/
/*#############################################################*/

.right-section-container{
  margin: 1.2rem;
}

.right-section-title{
  background-color: #ffe7d4;
  padding-left: 1rem;
  height: 1.2rem;
  font-size: 11px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.a-work{
  margin: 0.6rem 0;
}

.work-title{
  font-size: 0.75rem;
  font-weight: bold;
}

.work-location{
  font-size: 0.72rem;
  font-weight: lighter;
}

.work-describtion{
  font-size: 0.5rem;
  font-weight: lighter;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.project-url{
  color: black;
  font-size: 0.55rem;
  text-decoration: underline;
}
